---
// 公共 Layout
import Layout from "@/layouts/Layout/Layout.astro";
import type { Subways, Destination } from "@/pages/api/subway";
import { GET } from "@/pages/api/subway";
const subway: Response = await GET();
const { data } = await subway.json() as { data: {subways: Subways[], destination: Destination} };
// console.log(data.subways[3].subways, 'subway');
const { subways = [] } = data || {};
---
<Layout title={"地铁信息"} description={'深圳市地铁信息'} activeNav={'subway'}>
    {
        subways?.map(el=> <div class="my-4 subway-line" class:list={['subway-' + el.line]}>
            <b-collapse style={`
                    --header-bg-color: ${el.color};
                    --banana-color-success: ${el.color};
                    --banana-color-success-hover: rgb(from var(--banana-color-success) r g b / 88%);
                    --banana-color-success-active: rgb(from var(--banana-color-success) r g b / 88%)`
                } title={el.line + '号线（终点站： ' + el.destination?.join('、') + '）'}>
                <div slot="expand-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M12.6 12L8 7.4L9.4 6l6 6l-6 6L8 16.6z"/></svg>
                </div>
                <div slot="collapse-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4z"/></svg>
                </div>
                <style>
                    .subway-line b-collapse::part(header) {
                        background-color: var(--header-bg-color);
                        color: #fff !important;
                    }
                    .subway-line b-collapse::part(base) {
                        border-color: var(--header-bg-color);
                    }
                </style>
                <div class="flex gap-4 flex-wrap">
                    {
                        el.subways?.map(item => (
                            <div class="byt-subway-item" class:list={!item.ZDJS ? '!flex !gap-2 w-[auto]' : 'w-full flex flex-col md:block'}>
                                <div class="flex-col lg:flex-row flex lg:items-center">
                                    <b-button class="byt-subway-name lg:mr-2" type={'success'}>{item.ZDMZ}{item.transfer?.length ? `（${item.time?'终点站，':''}可换乘${item.transfer.join('、')}号线）` : item.time?'（终点站）':''}</b-button>
                                    {/* <b-tooltip content={item.ZDJS} trigger-action="hover" placement="right">
                                    </b-tooltip> */}
                                    {item.time && <span class="byt-subway-time mt-2 pb-2 lg:mt-0 lg:pb-0 lg:ml-2 border-b border-b-[var(--header-bg-color)]">
                                        发车时刻表：
                                        早：<span class="text-[var(--header-bg-color)]">{item.time?.FIRST_SUBWAY_TIME}</span>；
                                        晚：<span class="text-[var(--header-bg-color)]">{item.time?.LAST_SUBWAY_TIME}</span>，
                                        发车间隔：<span class="text-[var(--header-bg-color)]">{item.time?.INTERVAL}</span>；
                                        高峰期：<span class="text-[var(--header-bg-color)]">{item.time?.PEAK_INTERVAL}</span>
                                    </span>}
                                </div>
                                {item.ZDJS && <p class="byt-subway-desc !mt-3 text-justify">{item.ZDJS}</p>}
                            </div>
                        ))
                    }
                </div>
            </b-collapse>
        </div>)
    }
	<script>
        import { toggleShow } from '@/scripts/Subway'
        toggleShow()
      </script>
</Layout>